@font-face {
	font-family: 'El Rio Lobo';
	src: url('../fonts/The_Emperors_font.eot');
	src: url('../fonts/The_Emperors_font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/The_Emperors_font.woff') format('woff'),
		 url('../fonts/The_Emperors_font.ttf')  format('truetype'),
		 url('../fonts/The_Emperors_font.svg#04a895ec2b9535ff55881607625d1b84') format('svg');

	font-style: normal;
	font-weight: 400;
}

h1 {
	font-family: 'El Rio Lobo';
	color: #FFA700;
}

body {
	margin: 0px;
	font-family: times new roman;
}

img {
	width: 620px; 
	height: 420px;
}

.div_general {
	text-align: center;
	color: white;
}

#div_1{
	background-color: #9C0900;
	padding: 40px;
}

#div_2{
	background-color: #008BD6;
	padding: 20px;
}

#div_3{
	background-image: url(../images/cuzco2.jpg);
	background-size: 100%;
	padding: 1px 0px 460px;
	text-align: right;
}

#div_4{
	color:black;
	font-family: 'El Rio Lobo';
	padding: 1px;
	font-size: 80px;
}